<tr>
  <td>
    <%= question.id %>
  </td>
  <td>
    <%= link_to question.name, question %>
  </td>
  <td>
  <%= User.find_by_id(question.author).name %>
  </td>
  <td>  
    <i><%= question.text %></i>
  </td>
  <td>
  <i><%= question.tags %></i>
  </td>
  <td>
    <% if current_user.author? %>

      <%= link_to "edit", edit_question_path(question.id) %>

      <% if session[:current_item_id] %>
      	<% @question=question %>
      	| <%= link_to "add to item "+session[:current_item_id].to_s, :controller => "questions", :action => "add_to_item", :question => @question.id, :search=>params[:search], :sort=>params[:sort], :direction=>params[:direction] %>
      <% end %>
    <% end %>
    <% if current_user.admin? %>

     | <%= link_to "delete", question, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  </td>
</tr> 

