

<%= provide(:title, 'New Question')%> 
<h1>Please correct the Question</h1>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/qerror_messages' %>

      <%= f.label :name, :style => "font-size: 1.7em;"%>
      <%= f.text_field :name %>
      <h1><p></h1>

      <%= f.label :text, :style => "font-size: 1.7em;"%>  Use ` as delimiter for any embedded expressions
      <%= f.text_area :text, "cols" => 30, "rows" => 5%>
      Sample question text: <h7><%= @example_question %> </h7>
      <h1><p></h1>

      <%= f.label :parameters, :style => "font-size: 1.7em;"%> If parameters are needed, give names (uppercase letters) and ranges, separated by spaces, e.g. "A (2,3,7,8) B (-2..5) C [0..3]"
      <%= f.text_field :parameters %>
      Parameter choice:<h7> <%= @paramtext %> </h7> <p>
      Parameter assignments used for illustration purposes on this page:<h7> <%= @example_param_hash.to_s %> </h7> <p>
      <h1><p></h1>

      <%= f.label :tags, :style => "font-size: 1.7em;"%>
      <%= f.text_field :tags %>

      <%= f.label :answers, :style => "font-size: 1.7em;"%> Example: "[perimeter`m]2*A+2*Bh3[area`m^2]A*B" means that the first answer will be introduced by the prompt "perimeter" and followed by "m", and that its value is calculated from the parameters A and B by the formula "2A+2B". It will be marked using the precision regime "3h" - see below. The second answer is introduced by "area" and followed by "m^2", and is calculated using "AB". Since the precision regime is not specified, the one below will be used.

      <%= f.text_field :answers %>
      Answer prompts: <h7><%= @promptlist %></h7><p>
      Answers for example question: <h7><%= @example_answers %></h7>
      <h1><p></h1>

      <%= f.label :precision_regime, :style => "font-size: 1.7em;"%>  h0 for exact answers only, Otherwise  h/s/r (harsh/soft/rounded) + number of sf.
      <%= f.text_field :precision_regime %>
      <h1><p></h1>

      <%= f.submit "Update Question", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
