<% provide(:title, 'Questions Index') %>
<h1>Questions index</h1>

<%= link_to("New Question", new_question_path) %><br><br>

<% if session[:current_item_id] %>
<%= link_to("Go to Item "+session[:current_item_id].to_s, "/items/"+session[:current_item_id].to_s+"/edit") %>
<p>
<% end %>

<%= will_paginate %>

<%= form_tag questions_path, :method => 'get' do %>

	<%=render 'layouts/indexintro' %>

<% end %>

<table class="table" align="left">
<tr>  
	<th><%= sortable "id" %></th>
	<th> <%= sortable "name" %> </th>
	<th> <%= sortable "author" %> </th>    
	<th> <%= sortable "text" %> </th>  
	<th> <%= sortable "tags" %> </th>
	<th> </th>
</tr>

	<% for question in @questions %>
	    <%= render question %>
	<% end %>



</table>



<%= link_to("New Question", new_question_path) %>

<%= will_paginate %>

<% if session[:current_item_id] %>
<p>
<%= link_to("Go to Item "+session[:current_item_id].to_s, "/items/"+session[:current_item_id].to_s+"/edit") %>
<% end %>
