
  <tr>
    <td>
	     <%= element.id %>
    </td>
    <td>

  <%= link_to element.name, element %>
  </td>
    <td>
  <%= element.category %>
  </td>
    <td>
  <i><%= element.tags %></i>
  </td>
    <td> 
  <% if current_user.admin? %>

    <%= link_to "edit", edit_element_path(element.id) %>

    | <%= link_to "delete", element, method: :delete,
                                  data: { confirm: "You sure?" } %>

      <% if session[:current_item_id] %>
     
      | <%= link_to "add to item", :controller => "elements", :action => "add_to_item", :element=>element.id, :search=>params[:search], :sort=>params[:sort], :direction=>params[:direction] %>
      
      
      <% end %>
    <% end %>
  </td>
  </tr>

