<li>
  <%= link_to element.name, element %>
  (<%= element.category %>)
  <i><%= element.tags %></i>
  <% if current_user.admin? %>

    | <%= link_to "show", element %>

    | <%= link_to "delete", element, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
