/* ONLY ADMINISTRATORS SHOULD HAVE ACCESS */

<%= provide(:title, 'New Element') %>
<h1>Enter a New Element</h1>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@element) do |f| %>
      <%= render 'shared/eerror_messages' %>

      <%= f.label :category, :style => "font-size: 1.7em;"%>  
      <%= f.text_field :category %>

      <%= f.label :name, :style => "font-size: 1.7em;"%>
      <%= f.text_field :name %>

      <%= f.label :content, :style => "font-size: 1.7em;"%>
      <%= f.text_field :content %>

      <%= f.label :tags, :style => "font-size: 1.7em;"%>
      <%= f.text_field :tags %>


      <%= f.submit "Create Element", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>