/* ONLY ADMINISTRATORS SHOULD HAVE ACCESS */

<%= provide(:title, 'New Element') %>
<h1>Enter a New Element</h1>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@element) do |f| %>
      <%= render 'shared/eerror_messages' %>

      <%= f.label :category, :style => "font-size: 1.7em;"%>  
      <%= f.radio_button :category, "text" %> text 
      <%= f.radio_button :category, "image" %> image
      <%= f.radio_button :category, "video" %> video <br /><br />

      <%= f.label :name, :style => "font-size: 1.7em;"%>
      <%= f.text_field :name %>

      <%= f.label :content, :style => "font-size: 1.7em;"%>
      <%= f.text_area :content, "cols" => 30, "rows" => 5%>

      <%= f.label :tags, :style => "font-size: 1.7em;"%>
      <%= f.text_field :tags %>


      <%= f.submit "Create Element", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>