

<% if session[:current_course_id] %>

	<% provide(:title, "Course = "+@course.name) %>


	<form>
	<h1>Course: <course><%= @course.name %></course> (editing)</h1>
		<%= render 'shared/cerror_messages' %>
	<table class="table">
	    <tr>  
	        <th>Stage</th>
	        <th>Bronze</th>    
	        <th>Silver</th>  
	        <th>Gold</th>
	    </tr>




	    <% @content.each do %>
	        <%|stage|%>
	        <% stage_number=@content.index(stage) %>

		    <tr><td> <%=stage_number+1%> </td>
	            <td style="vertical-align:middle" width = "100"> <input type="textarea"  name=<%="@values["+stage_number.to_s+"x0]"%> value="<%=stage[0]%>" rows="1" cols="20" ><%= (Item.find_by_id(stage[0])&&Item.find_by_id(stage[0]).name)||(!Item.find_by_id(stage[0])&&"NO SUCH ITEM")%> </td>
	            <td style="vertical-align:middle" width = "100"> <input type="textarea"  name=<%="@values["+stage_number.to_s+"x1]"%> value="<%=stage[1]%>" rows="1" cols="20" ><%= (Item.find_by_id(stage[1])&&Item.find_by_id(stage[1]).name)||(!Item.find_by_id(stage[1])&&"NO SUCH ITEM")%> </td>
	            <td style="vertical-align:middle" width = "100"> <input type="textarea"  name=<%="@values["+stage_number.to_s+"x2]"%> value="<%=stage[2]%>" rows="1" cols="20" ><%= (Item.find_by_id(stage[2])&&Item.find_by_id(stage[2]).name)||(!Item.find_by_id(stage[2])&&"NO SUCH ITEM")%> </td>
		    </tr>
		<% end %>
		    Note: this screen cannot currently cope well if any two rows are identical - you'll notice they get given the same stage number and behaviour after this may not be what you expect. Let Brian know if this is a problem in practice. <br><br>


	</table>

	<br>Course Title <input type="textarea"  name=<%="@course_title"%> value="<%=@course.name%>" rows="1" cols="20">

	
      <h1><p></h1>

	<br>If you are ready to publish this course, add tag here: <input type="textarea"  name=<%="@newtag"%> value="<%=@newtag%>" rows="1" cols="20" > <br>Current tags used for this course are <tag><%= @course.tag %></tag> <br>Remove my tag:<input type="textarea"  name=<%="@oldtag"%> value="<%=@oldtag%>" rows="1" cols="20" > <br> The tag for users will be your string, followed by '_', followed by <%=@user.id.to_s%> (your user id number), e.g. if you enter 'mytag', their tag will be mytag_<%= @user.id.to_s%>  If they enter this in their tags they will see your course<br><br>

	<%= submit_tag "Update", class: "btn btn-medium btn-info",  :name=> "s" %>
	<%= submit_tag "Add Stage", class: "btn btn-medium btn-info",  :name=> "a" %>
	<%= submit_tag "Remove Blank Stages", class: "btn btn-medium btn-info",  :name=> "r" %>
	<%= submit_tag "Finish", class: "btn btn-medium btn-info",  :name=> "f" %>


	</form>
	
	<%= hidden_field_tag :direction, params[:direction] %>
  	<%= hidden_field_tag :sort, params[:sort] %>
  	<%= hidden_field_tag :search, params[:search] %>
<br><h2>Item List</h2>

<% else %>

	<% provide(:title, 'All Items') %>
	<h1>All Items</h1>

<% end %>

<%= link_to("New Item", new_item_path) %><br><br>

<%= will_paginate %>

<%= form_tag items_path, :method => 'get' do %>

	<%=render 'layouts/indexintro' %>

<% end %>

<table class="table" align="left">
<tr>  
	<th><%= sortable "id" %></th>
	<th> <%= sortable "name" %> </th> 
	<th> <%= sortable "author" %> </th>   
	<th> <%= sortable "tags" %> </th>
	<th> </th>
</tr>

	<% for item in @items %>
	<% if item %>
	    <%= render item %>
	<% end %>
	<% end %>



</table>

<%= link_to("New Item", new_item_path) %>

<% if session[:current_item_id] %>
<p>
<%= link_to("Go to Item "+session[:current_item_id].to_s, "/items/"+session[:current_item_id].to_s+"/edit") %>
<% end %>
