<% provide(:title, 'All Items') %>
<h1>All Items</h1>

<%= will_paginate %>

<%= form_tag items_path, :method => 'get' do %>

	<%=render 'layouts/indexintro' %>

<% end %>

<table class="table" align="left">
<tr>  
	<th><%= sortable "id" %></th>
	<th> <%= sortable "name" %> </th>   
	<th> <%= sortable "tags" %> </th>
	<th> </th>
</tr>

	<% for item in @items %>
	    <%= render item %>
	<% end %>



</table>

<%= link_to("New Item", new_item_path) %>

<% if session[:current_item_id] %>
<p>
<%= link_to("Go to Item "+session[:current_item_id].to_s, "/items/"+session[:current_item_id].to_s+"/edit") %>
<% end %>
