<% provide(:title, @course.name) %>


<%= form_for(@course) do |f| %>

	<%= render 'shared/cerror_messages' %>

    
<table class="table">
    <tr>  
        <th>Stage</th>
        <th>Bronze</th>    
        <th>Silver</th>  
        <th>Gold</th>
    </tr>

    <%=@content%>



    <% @content.each do %>
        <%|stage|%>
        <% stage_number=@content.index(stage) %>

	    <tr><td> <%=stage_number+1%> </td>
            <td style="vertical-align:middle" width = "100"> <input type="textarea"  name=<%="@values["+stage_number.to_s+"x0]"%> value="<%=stage[0]%>" rows="1" cols="20" ><%= (Item.find_by_id(stage[0])&&Item.find_by_id(stage[0]).name)||(!Item.find_by_id(stage[0])&&"NO SUCH ITEM")%> </td>
            <td style="vertical-align:middle" width = "100"> <input type="textarea"  name=<%="@values["+stage_number.to_s+"x1]"%> value="<%=stage[1]%>" rows="1" cols="20" ><%= (Item.find_by_id(stage[1])&&Item.find_by_id(stage[1]).name)||(!Item.find_by_id(stage[1])&&"NO SUCH ITEM")%> </td>
            <td style="vertical-align:middle" width = "100"> <input type="textarea"  name=<%="@values["+stage_number.to_s+"x2]"%> value="<%=stage[2]%>" rows="1" cols="20" ><%= (Item.find_by_id(stage[2])&&Item.find_by_id(stage[2]).name)||(!Item.find_by_id(stage[2])&&"NO SUCH ITEM")%> </td>
	    </tr>
	    <% end %>


</table>
<br><br>If you are ready to publish this course, add tag here: <input type="textarea"  name=<%="@values['newtag']"%> value="<%=@newtag%>" rows="1" cols="20" >

<%= f.label :name, :style => "font-size: 1.7em;"%>
      <%= f.text_field :name %>
      <h1><p></h1>

<%= submit_tag "Submit changes", class: "btn btn-medium btn-info",  :name=> "s" %>
<%= submit_tag "Add Stage", class: "btn btn-medium btn-info",  :name=> "a" %>
<%= submit_tag "Remove Blank Stages", class: "btn btn-medium btn-info",  :name=> "r" %>
<%= link_to "View Item Index", items_path %>



<% end %>