<% provide(:title, 'Courses Index') %>
<h1>Courses Index</h1>

<%= link_to("New Course", new_course_path) %><br><br>


<%= will_paginate %>


<%= form_tag courses_path, :method => 'get' do %>
  
  <%=render 'layouts/indexintro' %>

<% end %>

<table class="table" align="left">
<tr>  
	<th><%= sortable "id" %></th>
	<th><%= sortable "name" %></th>
	<th><%= sortable "author" %></th>     
	<th><%= sortable "tags" %></th>
	<th> </th>
</tr>

	<% for course in @courses %>
	    <%= render course %>
	<% end %>



</table>
<%= link_to("New Course", new_course_path) %>

<%= will_paginate %>




