<% provide(:title, @course.name) %>

<%= form_for(@course) do |f| %>
<table class="table">
    <tr>  
        <th>Stage</th>
        <th>Bronze</th>    
        <th>Silver</th>  
        <th>Gold</th>
    </tr>




    <% @content.each do %>
        <%|stage|%>
        <% stage_number=@content.index(stage) %>
        <tr><td> <%=stage_number+1%> </td>
            <td style="vertical-align:middle" width = "100"> <%= (Item.find_by_id(stage[0])&&Item.find_by_id(stage[0]).name)||(!Item.find_by_id(stage[0])&&"NO SUCH ITEM")%> </td>
            <td style="vertical-align:middle" width = "100"> <%= (Item.find_by_id(stage[1])&&Item.find_by_id(stage[1]).name)||(!Item.find_by_id(stage[1])&&"NO SUCH ITEM")%> </td>
            <td style="vertical-align:middle" width = "100"> <%= (Item.find_by_id(stage[2])&&Item.find_by_id(stage[2]).name)||(!Item.find_by_id(stage[2])&&"NO SUCH ITEM")%> </td>
        </tr>
    <% end %>


</table>

<%= link_to "Edit this course", edit_course_path, :id=>params[:id] %>

<%= f.label :tag %>
      <%= f.text_field :tag %>
      
<% end %>

   
